<div class="card" style="width: 18rem;">
    <div class="position-relative">
        <img [src]="item().image" alt="{{ item().name }}" class="hotel-image">

        <div *ngIf="item().isPopular" class="popular-badge">
            Más <span class="fw-light">popular</span>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <h5 class="card-title mb-0">{{ item().name }}</h5>
            <small class="text-primary fw-bold" style="white-space: nowrap;">S/ {{ item().pricePerHour }} /h</small>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
            <p class="card-text mb-0">{{ item().location }}</p>
            <small class="text-muted">⭐ {{ item().rating }} / 5</small>
        </div>
        <p class="card-text text-muted small">{{ item().description | slice: 0:70 }}</p>
        <div class="d-grid mt-3">
            <a class="btn btn-primary btn-sm" [routerLink]="['/hotel', item().id]" >Reservar</a>
        </div>
    </div>
</div>