:host {
  display: block;
}

.card {
  border-radius: 0.75rem;
  overflow: hidden;
}

.hotel-item .card-body {
  padding: 1rem;
}

.hotel-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}