:host {
  display: block;
}

.popular-hotel-card-container {
  width: 100%;
}

.popular-hotel-card {
  height: 200px;
  position: relative;
}

.hotel-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hotel-info-text {
  text-align: left;
}

.hotel-info-text h6 {
  font-weight: 600;
}

.hotel-info-text small {
  color: #6c757d;
}