:host {
  display: block;
}

.popular-hotel-card-container {
  width: 100%;
}

.popular-hotel-card {
  height: 200px;
  position: relative;
}

.hotel-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.popular-badge {
  position: absolute;
  top: 0.5rem;
  background-color: #f64f77;
  color: white;
  font-weight: 600;
  padding: 0.3rem 0.7rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
}

.hotel-info-text {
  text-align: left;
}

.hotel-info-text h6 {
  font-weight: 600;
}

.hotel-info-text small {
  color: #6c757d;
}