<section class="hero-section container py-3">
    <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-start mb-4 mb-md-0">
            <h1 class="hero-title">¿No tienes a donde ir?,<br>reserva tu espacio privado</h1>
            <p class="hero-subtitle">Disfruta unas horas de descanso<br>o momentos especiales.<br>¡Reserva ahora!</p>
            <button class="btn btn-primary btn-hero mt-3" [routerLink]="'/hotels'">
                Reservar ahora
              </button>
            <div class="d-flex gap-4 mt-5 justify-content-center justify-content-md-start">
                <div class="stat-item text-center text-md-start">
                    <img src="assets/icons/ic_traveler.svg" alt="Huéspedes" width="32">
                    <p class="stat-text"><strong>+80,000</strong> huéspedes</p>
                </div>
                <div class="stat-item text-center text-md-start">
                    <img src="assets/icons/ic_cities.svg" alt="Ubicaciones" width="32">
                    <p class="stat-text"><strong>+1,400</strong> lugares</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 text-center">
            <div class="hero-image-wrapper">
                <img src="assets/illustrations/il-home.svg" alt="Hotel Moderno" class="img-fluid rounded-4 shadow-sm">
            </div>
        </div>
    </div>
</section>
<section class="container my-5 cursor-pointer" (click)="goToOffers()">
    <h2 class="mb-4">Ofertas</h2>
    <div class="d-flex overflow-auto flex-nowrap gap-3 pb-2">
        <div *ngFor="let offer of offers" class="flex-shrink-0" style="width: 250px;">
            <hotel-offer-card [offer]="offer"></hotel-offer-card>
        </div>
    </div>
</section>
<section class="container my-5 cursor-pointer" (click)="goToRecommendations()">
    <h2 class="mb-4">Recomendados</h2>
    <div class="d-flex overflow-auto flex-nowrap gap-3 pb-2">
        <div *ngFor="let popular of populars" class="flex-shrink-0" style="width: 250px;">
            <hotel-card [popular]="popular"></hotel-card>
          </div>
    </div>
</section>