<div class="btn-group mb-4" role="group">
  <input type="radio" class="btn-check" name="pack" id="pack3h" value="3h" [checked]="selectedPack === '3'"
    (change)="onPackChange('3h')">
  <label class="btn btn-outline-primary" for="pack3h">3h</label>

  <input type="radio" class="btn-check" name="pack" id="pack6h" value="6h" [checked]="selectedPack === '6'"
    (change)="onPackChange('6h')">
  <label class="btn btn-outline-primary" for="pack6h">6h</label>

  <input type="radio" class="btn-check" name="pack" id="pack24h" value="24h" disabled>
  <label class="btn btn-outline-primary disabled" for="pack24h">24h</label>
</div>

<!-- Selector de Hora de Entrada -->
<mat-form-field appearance="outline" class="w-100">
  <mat-label>Hora de entrada</mat-label>
  <input 
    matInput 
    [formControl]="startControl" 
    [matTimepicker]="startPicker" 
    placeholder="Selecciona la hora"
    [matTimepickerMin]="minTime">

  <mat-timepicker-toggle matIconSuffix [for]="startPicker"></mat-timepicker-toggle>
  <mat-timepicker #startPicker interval="1h"></mat-timepicker>
</mat-form-field>