html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.contenedor {
  display: flex;
  width: 100%;  /* 100% del ancho de la ventana */
  height: 100%;
}

.columna-busqueda, .columna-mapa {
  flex: 1;
  box-sizing: border-box;
  max-height: 90vh;
}

.columna-busqueda {
  display: flex;
  flex-direction: column;
   /* Altura máxima de la columna de búsqueda */
}

.fila {
  flex: 1;
  margin-right: 20px; /* Espacio entre columnas */
  border-bottom: 1px solid #ccc; /* Opcional: líneas entre filas */
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
}

.fila:last-child {
  border-bottom: none; /* Quita la línea en la última fila */
}

.fila-titulo{
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: left;
}

.grid-hoteles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* adaptable a pantallas */
  gap: 20px;
  padding: 30px 20px 40px;
  justify-items: center;
  overflow-y: auto;
}

.hotel-card {
  width: 100%;
  max-width: 300px;
}

.columna-mapa {
  display: flex;
  flex-direction: column;
}

google-map {
  flex: 1;
  width: 100%;
}

@media (max-width: 600px) {
  .contenedor {
    flex-direction: column;
  }
  .columna-mapa {
    display: none; /* Ocultamos columna mapa */
  }
  .mapa-en-movil {
    display: flex;
    height: 9000px; /* puedes cambiar a 40vh si prefieres */
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
}