<div class="contenedor">
  <div class="columna-busqueda">
    <div class="fila-titulo"> Busqueda por ubicación </div>

    <div class="fila">
      <input type="text"
             class="form-control"
             placeholder="Ingresa un distrito o nombre"
             [(ngModel)]="searchQuery"
             (input)="filtrarHoteles()">
      <button class="btn btn-primary" type="button" (click)="filtrarHoteles()">Buscar</button>
    </div>

    <div class="mapa-en-movil">
      <google-map 
        [height]="'100%'" 
        [width]="'100%'" 
        [center]="center2" 
        [zoom]="zoom2">
        <map-marker 
          *ngFor="let item of filteredList"
          [position]="convertToLatLngLiteral(item.position)"
          [label]="item.name">
        </map-marker>
      </google-map>
    </div>

    <div class="fila-hoteles">
      <div *ngFor="let item of filteredList" style="margin-bottom: 10px;">
        <hotel-item [item]="item"></hotel-item>
      </div>
    </div>
  </div>

  <div class="columna-mapa">
    <google-map 
      [height]="'100%'" 
      [width]="'100%'" 
      [center]="center" 
      [zoom]="zoom">
      <map-marker 
        *ngFor="let item of filteredList"
        [position]="convertToLatLngLiteral(item.position)"
        [label]="item.name">
      </map-marker>
    </google-map>
  </div>
</div>
<!-- <section class="container my-5" >
    <div class="sidebar" >
      <div *ngFor="let item of list" [ngStyle]="{'margin-bottom': '10px'}">
        <hotel-item [item]="item"></hotel-item>
      </div>
    </div>

    <app-google-map></app-google-map>>
   
</section> -->