<div class="contenedor">

  <div class="columna-busqueda">
    <div class="fila-titulo"> Busca tu lugar ideal </div>

    <div class="fila">

      <input type="text" class="form-control" placeholder="Ingresa una ubicación" aria-label="Search" aria-describedby="basic-addon1">
      <button class="btn btn-primary" type="button">Buscar</button>

    </div>

    <div class="mapa-en-movil">
      <google-map 
        [height]="'100%'" 
        [width]="'100%'"
        [center]="center2" 
        [zoom]="zoom2">
        
        <map-marker 
          *ngFor="let hotel of hotels"
          [position]="hotel.position">
        
        </map-marker>
      </google-map>
    </div>

    <div class="grid-hoteles">
      <hotel-item *ngFor="let item of list" [item]="item"></hotel-item>
    </div>

  </div>

  <div class="columna-mapa">
    <google-map 
      [height]="'100%'" 
      [width]="'100%'"
      [center]="center" 
      [zoom]="zoom">

      <map-marker 
        *ngFor="let hotel of hotels"
        [position]="hotel.position">
      </map-marker>

    </google-map>
  </div>
</div>
